*, *::before, *::after {
  box-sizing: border-box;
}

body {
  position: relative;
  color: #f1faee;
  background: #333333;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  height: 100%;

}
