.iou-total {
  background-color: #13856a; 
  background-size: cover;
  color: #F1FAEE;
}

.iou-total h2 {
  font-size: 2.2em;
  text-align: center;
  padding: 0.5em 0.5em;
  line-height: 1.2;
}

.iou-total button{
  color: #F1FAEE;
  border: 1px solid #199e7f;
  background-color: #0d5d4a;
  font-size: 0.8em;
  margin-top: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 100px;
}

@media screen and (min-width: 600px) {
  .iou-total {
    width: 50%;
  }
  .iou-total h2 {
    font-size: 35px;
    padding: 1.5em 1em;
    line-height: 1.2;
  }
}