.receipt-table {
  height: 33vh;
  overflow-y: auto;
  background-color: #F1FAEE;
  padding: 1em;
}

.receipt-table::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.7em;
}

.receipt-table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(36, 116, 173, .5);
  -webkit-box-shadow: 0 0 1px rgba(36, 116, 173, .5);
  box-shadow: 0 0 1px rgba(13, 93, 74, .5);
}

.receipt-table table {
  width: 100%;
  color: #893093;
}

.receipt-header th{
  padding: 2px;
  font-size: 1.7em;
  width: 50%;
}

.receipt-header {
  border-bottom: 1px dashed black;
}

td:first-child {
  display: flex;
  flex-direction: column;
}

table tr {
  margin-left: 10px;
}

table td {
  padding: 5px;
  font-size: 1.3em;
}

.receipt-details-btn, .delete-btn {
  text-align: right;
  color: #F1FAEE;
  border-radius: 100px;
  margin: 2px 10px;
  padding: 0.5em 1em;
  font-size: 0.7em;
}

.receipt-details-btn {
  background-color: #893093;
  margin-bottom: 4px;
}

.delete-btn {
  background-color: #c41d1d;
  margin-top: 6px;
}

@media screen and (min-width: 600px) {
  .receipt-table {
    width: 50%;
    height: 41vh;
  }
}

@media screen and (min-width: 800px) {
  .receipt-table {
    height: 41vh;
  }
}

@media screen and (min-width: 1000px) {
  .receipt-table {
    height: 35vh;
  }
}