.uome-total {
  background-color: #2d8dd6;
}

.uome-total h2 {
  font-size: 2.2em;
  text-align: center;
  padding: 0.5em 0.5em;
  line-height: 1.2;
}

.uome-total button{
  color: #F1FAEE;
  border: 1px solid #2d8dd6;
  background-color: #2474ad;
  font-size: 0.8em;
  margin-top: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 100px;
}

@media screen and (min-width: 600px) {
  .uome-total {
    width: 50%;
  }
  .uome-total h2 {
    font-size: 35px;
    padding: 1.5em 1em;
    line-height: 1.2;
  }
}